.task-form {
  display: flex;
  flex-direction: column;
}

.task-form__item input {
  width: 300px;
  height: 32px;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;

  &:hover {
    border: 2px solid rgba($color: #ccc, $alpha: 0.6)
  }

  &:focus {
    border: 2px solid tomato;
  }

  &.ng-invalid.ng-touched {
    border: 2px solid red;
  }

  &.ng-valid.ng-touched {
    border: 2px solid green;
  }
}

.task-form__item textarea {
  width: 300px;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ccc;

  &:hover {
    border: 2px solid rgba($color: #ccc, $alpha: 0.6)
  }

  &:focus {
    border: 2px solid tomato;
  }

  &.ng-invalid.ng-touched {
    border: 2px solid red;
  }

  &.ng-valid.ng-touched {
    border: 2px solid green;
  }
}

small {
  font-size: 12px;
  color: red;
}

.task-form__btn {
  width: 80px;
  height: 35px;
  padding: 5px;
  outline: none;
  background-color: green;
  color: #fff;
  font-size: 14px;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    opacity: 0.2;
    cursor: auto;
  }
}
